body {
    background-color: greenyellow;
  }
  h1 {
    color: #021105; 
  }
  p {
    color: #021105;
    margin-left: 15pt;
    margin-right: 200pt;
    font-family:monospace;
    font-size:18px;  
  }
  
  div {
    margin-top: 0%;
   
  }

  img {
    width: 100px;s
    height: auto;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
  }



.hover {
    background-image: url(images/monkey.png);
    height: 75px;
    width: 75px;
    margin-top: 15px;
    margin-bottom: 250px;
    margin-left: 30%;
    background-size: contain;
    background-repeat: no-repeat;
        }
.hover:hover {
    background-image: url(images/tree.png);
  }

 

  .hover1 {
    background-image: url(images/bearandmonkey.png);
    height: 75px;
    width: 75px;
    margin-top: 15px;
    margin-bottom: 250px;
    margin-left: 30%;
    background-size: contain;
    background-repeat: no-repeat;
        }
.hover1:hover {
    background-image: url(images/cat.png);
  }

 

  .flex-container1 {
    display: flex;
    justify-content: center;
    
  }


  .flex-container {
    display: flex;
    background-color: green;
  }





  .text {
margin: 25 25 25 25

  }

  .bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #f2e49c;
    height: 85%;
}


