body {
    background-color: greenyellow;
  }
  h1 {
    color: #021105; 
  }
  p {
    color: #021105;
    margin-left: 15pt;
    margin-right: 200pt;
    font-family:monospace;
    font-size:18px;  
  }
  
  div {
    margin-top: 0%;
   
  }

  img {
    width: 100px;
    height: auto;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
  }



.hover {
    background-image: url(images/monkey.png);
    height: 125px;
    width: 125px;
    margin-top: 15px;
    margin-bottom: 250px;
    margin-left: 45%;
    background-size: contain;
    background-repeat: no-repeat;
        }
.hover:hover {
    background-image: url(images/monkeyeating.png);
  }

 

  .hover1 {
    background-image: url(images/mbk.png);
    height: 175px;
    width: 175px;
    margin-top: 15px;
    margin-bottom: 250px;
    margin-left: 35%;
    background-size: contain;
    background-repeat: no-repeat;
        }
.hover1:hover {
    background-image: url(images/mbk1.png);
  }

  .hover2 {
    background-image: url(images/disscat.png);
    height: 300px;
    width: 300px;
    margin-top: 15px;
    margin-bottom: 250px;
    margin-left: 40%;
    background-size: contain;
    background-repeat: no-repeat;
        }
.hover2:hover {
    background-image: url(images/angrybear.png);
  }


 



  .flex-container {
    display: flex;
    background-color: green;
  }







  .bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #f2e49c;
    height: 85%;
}


